html {
  height: 100vh;
  margin: 0;

  background: radial-gradient(
    circle at 49% 41%,
    rgba(140, 207, 248, 0) 0%,
    rgba(212, 123, 208, 1) 33%,
    rgba(62, 170, 212, 1) 66%,
    rgba(62, 212, 170, 1) 100%
  );
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
  max-width: 980px;
  margin: auto;
}

/* The flag is: gopher{just_some_harmless_css} */
